<h1>Search Music Results</h1>
<fieldset *ngIf="trackSearchResults">
  <legend>Tracks</legend>
  <table>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Url</th>
      <th>ImageUrl</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let track of trackSearchResults">
      <td>{{track.name}}</td>
      <td>{{track.artist}}</td>
      <td>{{track.url}}</td>
      <td>{{track.image[1]['#text']}}</td>
      <td>
        <a href="#">Add to Favorites</a>
      </td>
    </tr>
  </table>
</fieldset>
<fieldset *ngIf="albumSearchResults">
  <legend>Album</legend>
  <table>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Url</th>
      <th>ImageUrl</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let album of albumSearchResults">
      <td>{{album.name}}</td>
      <td>{{album.artist}}</td>
      <td>{{album.url}}</td>
      <td>{{album.image[1]['#text']}}</td>
      <td>
        <a href="#">Browse Album's Songs</a>
      </td>
    </tr>
  </table>
</fieldset>
<fieldset *ngIf="artistSearchResults">
  <legend>Artist</legend>
  <table>
    <tr>
      <th>Name</th>
      <th>url</th>
      <th>ImageUrl</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let artist of artistSearchResults">
      <td>{{artist.name}}</td>
      <td>{{artist.url}}</td>
      <td>{{artist.image[1]['#text']}}</td>
      <td>
        <a href="#">Browse Artist's Albums</a>
        <a href="#">Browse Artist's Songs</a>
      </td>
    </tr>
  </table>
</fieldset>