<p>You now in dashboard</p>
<h2>Create a new room</h2>
<form (submit)="createRoom()">
    <div><label>Title: </label><input [(ngModel)] = "room.title" type="text" name='roomtitle'></div>
    <div>
        <label>Privacy:</label>
        <select name="" id="" [(ngModel)]="room.public">
            <option value="true">Public</option>
            <option value="false">Private</option>
        </select>
    </div>
    <div><label>Password: </label><input type="text" [disabled]="room.public" name="pw"></div>
    <div><label>Description: </label><input [(ngModel)]="room.description" type="text" name='description'></div>
    <div><input type="submit" value="Create Room"></div>
</form>
<div id="allRooms">
    <div *ngFor="let room of allRooms">
        <a [routerLink]="['room', room.roomId]">{{room.title}}</a>
    </div>
</div>

<!-- <router-outlet></router-outlet> -->
<fieldset class="wrapper">
    <legend>Dashboard Page</legend>
    <fieldset class="joined inblock">
        <legend>Joined Rooms</legend>
    </fieldset>
    <fieldset class="main inblock">
        <legend>Main View</legend>
        <fieldset class="router">
            <legend>Router-Outlet</legend>
            <router-outlet></router-outlet>
        </fieldset>
    <fieldset class="active-music">
        <legend>Active MusicRoom/Player present if active room is minimized</legend>
    </fieldset>
    </fieldset>
    <fieldset class="secondary inblock">
        <legend>Secondary View</legend>
        <fieldset class="online subcomponents">
            <legend>See who's online</legend>
        </fieldset>
        <fieldset class="favorites subcomponents">
            <legend>Current User's Favorite Songs</legend>
        </fieldset>
    </fieldset>


</fieldset>
