<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="header">
  <nav class="navbar navbar-default navbar-inverse" role="navigation" style="vertical-align: top; margin-bottom: 0; height: 60px; border-radius:0;">
    <div class="container-fluid">

      <div class="navbar-header" dropdown>
        <button type="button" class="navbar-toggle collapsed dropdown" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" *ngIf="!currentUser" [routerLink]="['/']" style="padding-top:19px; color:white;">CHATTERBOX</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li *ngIf="!currentUser"><a [routerLink]="['/register']" style="padding-top:19px;"><b>Register</b> <span class="caret"></span></a></li>
          <li *ngIf="!currentUser"><p class="navbar-text" style="padding-top:4px;">Already have an account?</p></li>
          <li *ngIf="!currentUser"><a  [routerLink]="['/login']" style="padding-top:19px; "><b>Login</b> <span class="caret"></span></a></li>
         
          <!-- <li *ngIf="currentUser"><a [routerLink]="['/home/profile/current']" style="padding-top:19px;"><b>Home</b> <span class="caret"></span></a></li> -->

          <li *ngIf="currentUser"><a [routerLink]="['/home/profile/current']" style="padding-top:19px;"><b>Dashboard</b> <span class="caret"></span></a></li>



          <li *ngIf="searchMode==='users' && currentUser" style="display: inline-block; margin-top:15px;">
              <form *ngIf="currentUser" (submit) = "redirectToSearchPageWithSearchVal()">
                <input type="text" name="searchU" placeholder="Search User" [(ngModel)]="searchVal" (keyup) = "searchUsers()" />
                <input type="submit" value="Search Users" />
              </form>
            </li>
            <li *ngIf="searchMode==='rooms' && currentUser"style="display: inline-block; margin-top:15px;">
              <form *ngIf="currentUser" (submit) = "redirectToSearchRoomPageWithSearchVal3()">
                <input type="text" name="searchM" placeholder="Search Chatrooms" [(ngModel)]="searchVal3" (keyup) = "searchRooms()"/>
                <input type="submit" value="Search Rooms" />
              </form>
            </li>
         
            <li *ngIf="searchMode==='music' && currentUser"style="display: inline-block; margin-top:15px;">
              <form *ngIf="currentUser" (submit) = "searchMusic()">
                <input type="text" name="searchM" placeholder="Search Music" [(ngModel)]="searchVal2" />
                <input type="submit" value="Search Music" />
              </form>
            </li>
            <li>
            <select *ngIf="currentUser" name="searchMode" [(ngModel)]="searchMode" style= "margin-top:18px;">
              <option value="users" >Users</option>
              <option value="music">Music</option>
              <option value="rooms">Chatrooms</option>
            </select>
          </li>
          <li *ngIf="currentUser"><a [routerLink]="['/home','logout']" style="padding-top:19px;"><b>Logout</b> <span class="caret"></span></a></li>



          <!-- <li><a *ngIf="!currentUser" [routerLink]="['/']" style="padding-top:19px;">Home</a></li> -->
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  </div>


<router-outlet></router-outlet>