<h1>Navigation goes here</h1>
<a [routerLink]="['/home']">Home</a>
<a [routerLink]="['/home/profile']">Profile</a>
<a [routerLink]="['/login']">Login</a>
<a [routerLink]="['/register']">Register</a>
<a [routerLink]="['/logout']">Logout</a>

<!--<form (submit) = "redirectToSearchPageWithSearchVal()">
  <input type="text" name="search" placeholder="Search" [(ngModel)]="searchVal" #searchVal = "ngModel" />
  <input type="submit" value="Search" />
</form>-->

<router-outlet></router-outlet>
<div>
  <input type="text" #msgInput name="" value="">
  <button (click)="sendMsg(msgInput.value)">Send</button>
  <br>
  <p>{{msg}}  </p>
</div>
