<form (submit)="createRoom()">
  <div><label>Title: </label><input [(ngModel)] = "room.title" type="text" name='roomtitle'></div>
  <div>
      <label>Privacy:</label>
      <select name="public" id="" [(ngModel)]="room.isPublic">
          <option value="true">Public</option>
          <option value="false">Private</option>
      </select>
  </div>
  <div><label>Password: </label><input type="text" [disabled]="room.isPublic == 'true'" name="pw" [(ngModel)]="room.password"></div>
  <div><label>Description: </label><input [(ngModel)]="room.description" type="text" name='description'></div>
  <div><input type="submit" value="Create Room"></div>
</form>