<div *ngIf="currentUser">
  <h1>Current User's Profile</h1>
  <h2>Username: {{currentUser.username}}</h2>
  <p>Email: {{currentUser.email}}</p>
  <p>First Name: {{currentUser.firstName}}</p>
  <p>Last Name: {{currentUser.lastName}}</p>
  <p>Description: {{currentUser.description}}</p>
  <h3>Invites</h3>
  <table>
    <tr>
      <th>Username</th>
      <th>Actions</th>
    </tr>
    <tr>
      <td>usernames goes here</td>
      <td>
        <a href="#">Accept Invite</a>
        <a href="#">Reject Invite</a>
      </td>
    </tr>
  </table>
  <h3>Friends</h3>
  <table>
    <tr>
      <th>Username</th>
      <th>Actions</th>
    </tr>
    <tr>
      <td>usernames goes here</td>
      <td>
        <a href="#">Show Profile</a>
        <a href="#">Remove Friend</a>
      </td>
    </tr>
  </table>
</div>

